<!DOCTYPE html>
<html class="index">
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/svg') %>
    <main class="boxed">
        <%- body %>
        <%- partial('_partial/sidebar') %>
    </main>
    <%- partial('_partial/footer') %>
</body>
</html>